<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация об университете</title>
</head>
<body>
Университет: {{json.name}} <br>
Ректор: {{json.rector}} <br>
Местоположение: {{json.location.postcode}}, {{json.location.city}}, {{json.location.address}} <br>
Кол-во административных подразделений: {{col_administration_unints}}<br>
Кол-во научно-образовательных подразделений: {{col_education_units}} <br>
Кол-во мегафакультетов: {{col_mega_fac}}<br>
Кол-во факультетов: {{col_fac}} <br>
Кол-во кафедр: {{col_cathedr}}
</body>
</html>